(A) Introduction

1) print

In [1]:
print("hello")

hello

2) add two numbers

In [2]:
print(1.5 + 6.3)

num1 = 1.5
num2 = 6.3

sum = num1 + num2

print("Sum of num1 and num2 = " ,sum)

7.8
Sum of num1 and num2 =  7.8

3) Find the Square Root

In [3]:
# defined number

denum = 8
desqrt = denum ** 0.5
print("int square root : " ,desqrt)

# user input integer number 

inputintnum = int(input("Enter integer squared number: "))
print("Square root {} = {}".format(inputintnum , inputintnum ** 0.5))

#real or complex numbers

import cmath

cnum = 1+2j
cnum_sqrt=cmath.sqrt(cnum)
print("square root of (1+2j) = ",cnum_sqrt)

int square root :  2.8284271247461903
Square root 12 = 3.4641016151377544
square root of (1+2j) =  (1.272019649514069+0.7861513777574233j)

4) Calculate the Area of a Triangle

In [4]:
#s = (a+b+c)/2
#area = √(s(s-a)*(s-b)*(s-c))

#defined values
a = 5
b = 6
c = 7

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print("The area of the triangle = " ,area)

The area of the triangle =  14.696938456699069

5) Solve Quadratic Equation

In [5]:
# standard form of a quadratic equation
# ax2 + bx + c = 0, where
# a, b and c are real numbers and
# a ≠ 0

#solutions of quadratic equation is given by
# (-b ± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

# Solve this quadratic equation x**2 + 5x + 6 = 0
a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

6) Swap Two Variables

In [6]:
x = 5
y = 10

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: ' ,x)
print('The value of y after swapping: ' ,y)

The value of x after swapping:  10
The value of y after swapping:  5

7) Generate a Random Number

In [7]:
# importing the random module
import random

print(random.randint(3,12))

7

8) Convert Kilometers to Miles

In [8]:
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

147.00 kilometers is equal to 91.34 miles

9) Convert Celsius To Fahrenheit

In [9]:
#fahrenheit = celsius * 1.8 + 32

# change this value for a different result
celsius = 36

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

36.0 degree Celsius is equal to 96.8 degree Fahrenheit

10) Print Output Without a Newline

In [10]:
# print each statement on a new line
print("Python")
print("is easy to learn.")

# seperator
print("m&M"*3)

# print both the statements on a single line
print("Python", end=" ")
print("is easy to learn.")

Python
is easy to learn.
m&Mm&Mm&M
Python is easy to learn.

(B) decision making loops

1) Check if a Number is Positive, Negative or 0

In [11]:
numd = float(input("Enter a number: "))
if numd >= 0:
   if numd == 0:
       print("Zero")
   else:
       print("{0} is a Positive number ".format(numd))
else:
   print("{0} is a Negative number ".format(numd))

312.0 is a Positive number

2) Check if a Number is Odd or Even

In [12]:
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

m = int(input("Enter a number: "))
if (m % 2) == 0:
   print("{0} is Even".format(m))
else:
   print("{0} is Odd".format(m))

7 is Odd

3) Check Leap Year

In [13]:
""" 2017 is not a leap year
1900 is a not leap year
2012 is a leap year
2000 is a leap year """ 

year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2001 is not a leap year

4) Find the Largest Among Three Numbers

In [14]:
num1 = 7
num2 = 3
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 12

5) Check Prime Number

In [15]:
num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

79 is a prime number

6) Print all Prime Numbers in an Interval

In [16]:
# Python program to display all the prime numbers within an interval

lower = 147
upper = 312

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 147 and 312 are:
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311

7) Find the Factorial of a Number

In [17]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))



num = int(input("Enter a number: "))

# call the factorial function
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 12 is 479001600

8) Display the multiplication Table

In [18]:
# Multiplication table (from 1 to 10) in Python

num = 12

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

9) Print the Fibonacci sequence

In [19]:
"""A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....

The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1)th and (n-2)th term."""


nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233

10) Check Armstrong Number

In [20]:
# Armstrong number is a number that is equal to the sum of cubes of its digits

num = 1634

order = len(str(num))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

1634 is an Armstrong number

11) Find Armstrong Number in an Interval

In [21]:
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

12) Find the Sum of Natural Numbers

In [22]:
# Sum of natural numbers up to ya

ya = 16

if ya < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(ya > 0):
       sum += ya
       ya -= 1
   print("The sum is", sum)

The sum is 136

13) Create Pyramid Patterns

In [23]:
# print full pyramid using *

rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

                      *
                    * * *
                  * * * * *
                * * * * * * *
              * * * * * * * * *
            * * * * * * * * * * *
          * * * * * * * * * * * * *
        * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *

14) Iterate Over Dictionaries Using for Loop

In [24]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key, value in dt.items():
    print(key, value)

a juice
b grill
c corn

15) Reverse a Number

In [25]:
out = 1234
reversed_num = 0

while out != 0:
    digit = out % 10
    reversed_num = reversed_num * 10 + digit
    out //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

16) Compute the Power of a Number

In [26]:
#Calculate power of a number using a for loop
base = 3
exponent = 4

result = 1

for exponent in range(exponent, 0, -1):
    result *= base

print("Answer = " + str(result))

Answer = 81

(C) Native Data Types

1) Add Two Matrices

In [27]:
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

2) Transpose a Matrix

In [28]:
''' Program to transpose a matrix using list comprehension'''

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[X[j][i] for j in range(len(X))] for i in range(len(X[0]))]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

3) Multiply Two Matrices

In [29]:
# Program to multiply two matrices using nested loops

# 3x3 matrix
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

4) Check Whether a String is Palindrome or Not

In [30]:
# A palindrome is a string that is the same read forward or backward.
# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

5) Remove Punctuations From a String

In [31]:
import string
# define punctuation
punctuations = list(string.punctuation)
print("punctuations is " , punctuations)

my_str = "Hello!!!, he said ---and went."


# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

punctuations is  ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']
Hello he said and went

6) Sort Words in Alphabetic Order

In [32]:
# Program to sort alphabetically the words form a string provided by the user

my_str = input("Enter a string: ")

print("The string you enterd is : " , my_str)

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The string you enterd is :  quick brown fox jumps over the lazy DOG
The sorted words are:
brown
dog
fox
jumps
lazy
over
quick
the

7) Illustrate Different Set Operations

In [33]:
# Program to perform different set operations like in mathematics

# define three sets
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

# set union
print("Union of E and N is",E | N)

# set intersection
print("Intersection of E and N is",E & N)

# set difference
print("Difference of E and N is",E - N)

# set symmetric difference
print("Symmetric difference of E and N is",E ^ N)

Union of E and N is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of E and N is {2, 4}
Difference of E and N is {0, 8, 6}
Symmetric difference of E and N is {0, 1, 3, 5, 6, 8}

8) Count the Number of Each Vowel

In [34]:
# Program to count the number of each vowels

# string of vowels
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

9) Merge Two Dictionaries

In [35]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

dict_3 = dict_2.copy()
dict_3.update(dict_1)

print(dict_3)

{2: 'b', 4: 'd', 1: 'a'}

10) Access Index of a List Using for Loop

In [36]:
my_list = [21, 44, 35, 11]

for index, val in enumerate(my_list):
    print(index, val)

0 21
1 44
2 35
3 11

11) Flatten a Nested List

In [37]:
#Using List Comprehension
my_list2 = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list2 for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

12) Slice Lists

In [38]:
#Get all the Items from One Position to Another Position
my_list3 = [1, 2, 3, 4, 5]

print(my_list3[2:4])

[3, 4]

13) Sort a Dictionary by Value

In [39]:
dt = {5:4, 1:6, 6:3}

sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}

print(sorted_dt)

{6: 3, 5: 4, 1: 6}

14) Check If a List is Empty

In [40]:
my_list4 = []
if not len(my_list4):
    print("the list is empty")

the list is empty

15) Concatenate Two Lists

In [41]:
# using +
list_1 = [1, 'a']
list_2 = [3, 4, 5]

list_joined = list_1 + list_2
print(list_joined)

[1, 'a', 3, 4, 5]

16) Check if a Key is Already Present in a Dictionary

In [42]:
#Using in 
my_dict = {1: 'a', 2: 'b', 3: 'c'}

if 2 in my_dict:
    print("present")

present

17) Split a List Into Evenly Sized Chunks

In [43]:
import numpy as np

my_list12 = [1,2,3,4,5,6,7,8,9]
print(np.array_split(my_list12, 5))

[array([1, 2]), array([3, 4]), array([5, 6]), array([7, 8]), array([9])]

18) Parse a String to a Float or Int

In [44]:
balance_str = "1500.34"
balance_flt = float(balance_str)
balance_int = int(balance_flt)

# print the type
print(type(balance_int) , "||"  , type(balance_flt))

# print the value
print(balance_int , "||" , balance_flt)

<class 'int'> || <class 'float'>
1500 || 1500.34

19) Print Colored Text to the Terminal

In [45]:
from termcolor import colored

print(colored('Programiz', 'blue'))
print(colored('Programiz', 'red'))
print(colored('Programiz', 'white'))
print(colored('Programiz', 'black'))

Programiz
Programiz
Programiz
Programiz

20) Convert String to Datetime

In [46]:
from datetime import datetime

my_date_string = "jul 14 2002 09:00AM"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')

print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2002-07-14 09:00:00

21)  Get the Last Element of the List

In [47]:
my_list = ['a', 'b', 'c', 'd', 'e']

# print the last element
print(my_list[-1])

e

22) Get a Substring of a String

In [48]:
my_string = "I love python."

# prints "love"
print(my_string[2:6])

# prints "love python."
print(my_string[2:])

# prints "I love python"
print(my_string[:-1])

love
love python.
I love python

23) Randomly Select an Element From the List

In [49]:
my_list14 = [1, 'a', 32, 'c', 'd', 31]
print(random.choice(my_list14))

d

24) Check If a String Is a Number (Float)

In [50]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

print(isfloat('s12'))
print(isfloat('1.123'))

False
True

25) Count the Occurrence of an Item in a List

In [51]:
freq = ['a', 1, 'a', 4, 3, 2, 'a'].count('a')
print(freq)

3

26) Delete an Element From a Dictionary

In [52]:
my_dict = {31: 'a', 21: 'b', 14: 'c'}

print(my_dict.pop(31))

print(my_dict)

a
{21: 'b', 14: 'c'}

27) Create a Long Multiline String

In [53]:
my_string = "The only way to \n" \
        	"learn to program is \n" \
        	"by writing code."

print(my_string)

The only way to
learn to program is
by writing code.

28) Convert Two Lists Into a Dictionary

In [54]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

29) Trim Whitespace From a String

In [55]:
import re

my_string  = " Hello Python "
output = re.sub(r'^\s+|\s+$', '', my_string)

print(output)

Hello Python

30)  Iterate Through Two Lists in Parallel

In [56]:
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c']

for i, j in zip(list_1, list_2):
    print(i, j)

1 a
2 b
3 c

31) Count the Number of Digits Present In a Number

In [57]:
num = 123456
print(len(str(num)))

6

32) Check If Two Strings are Anagram

In [58]:
"""Two strings are said to be anagram if we can form one string by arranging the characters of another string.\
 For example, Race and Care.
 Here, we can form Race by arranging the characters of Care."""

str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

race and care are anagram.

33) Capitalize the First Character of a String

In [59]:
my_string = "programiz is Lit"

cap_string = my_string.capitalize()

print(cap_string)

Programiz is lit

34) Compute all the Permutation of the String

In [60]:
def get_permutation(string, i=0):

    if i == len(string):   	 
        print("".join(string))

    for j in range(i, len(string)):

        words = [c for c in string]
   
        # swap
        words[i], words[j] = words[j], words[i]
   	 
        get_permutation(words, i + 1)

print(get_permutation('MANUTD'))

MANUTD
MANUDT
MANTUD
MANTDU
MANDTU
MANDUT
MAUNTD
MAUNDT
MAUTND
MAUTDN
MAUDTN
MAUDNT
MATUND
MATUDN
MATNUD
MATNDU
MATDNU
MATDUN
MADUTN
MADUNT
MADTUN
MADTNU
MADNTU
MADNUT
MNAUTD
MNAUDT
MNATUD
MNATDU
MNADTU
MNADUT
MNUATD
MNUADT
MNUTAD
MNUTDA
MNUDTA
MNUDAT
MNTUAD
MNTUDA
MNTAUD
MNTADU
MNTDAU
MNTDUA
MNDUTA
MNDUAT
MNDTUA
MNDTAU
MNDATU
MNDAUT
MUNATD
MUNADT
MUNTAD
MUNTDA
MUNDTA
MUNDAT
MUANTD
MUANDT
MUATND
MUATDN
MUADTN
MUADNT
MUTAND
MUTADN
MUTNAD
MUTNDA
MUTDNA
MUTDAN
MUDATN
MUDANT
MUDTAN
MUDTNA
MUDNTA
MUDNAT
MTNUAD
MTNUDA
MTNAUD
MTNADU
MTNDAU
MTNDUA
MTUNAD
MTUNDA
MTUAND
MTUADN
MTUDAN
MTUDNA
MTAUND
MTAUDN
MTANUD
MTANDU
MTADNU
MTADUN
MTDUAN
MTDUNA
MTDAUN
MTDANU
MTDNAU
MTDNUA
MDNUTA
MDNUAT
MDNTUA
MDNTAU
MDNATU
MDNAUT
MDUNTA
MDUNAT
MDUTNA
MDUTAN
MDUATN
MDUANT
MDTUNA
MDTUAN
MDTNUA
MDTNAU
MDTANU
MDTAUN
MDAUTN
MDAUNT
MDATUN
MDATNU
MDANTU
MDANUT
AMNUTD
AMNUDT
AMNTUD
AMNTDU
AMNDTU
AMNDUT
AMUNTD
AMUNDT
AMUTND
AMUTDN
AMUDTN
AMUDNT
AMTUND
AMTUDN
AMTNUD
AMTNDU
AMTDNU
AMTDUN
AMDUTN
AMDUNT
AMDTUN
AMDTNU
AMDNTU
AMDNUT
ANMUTD
ANMUDT
ANMTUD
ANMTDU
ANMDTU
ANMDUT
ANUMTD
ANUMDT
ANUTMD
ANUTDM
ANUDTM
ANUDMT
ANTUMD
ANTUDM
ANTMUD
ANTMDU
ANTDMU
ANTDUM
ANDUTM
ANDUMT
ANDTUM
ANDTMU
ANDMTU
ANDMUT
AUNMTD
AUNMDT
AUNTMD
AUNTDM
AUNDTM
AUNDMT
AUMNTD
AUMNDT
AUMTND
AUMTDN
AUMDTN
AUMDNT
AUTMND
AUTMDN
AUTNMD
AUTNDM
AUTDNM
AUTDMN
AUDMTN
AUDMNT
AUDTMN
AUDTNM
AUDNTM
AUDNMT
ATNUMD
ATNUDM
ATNMUD
ATNMDU
ATNDMU
ATNDUM
ATUNMD
ATUNDM
ATUMND
ATUMDN
ATUDMN
ATUDNM
ATMUND
ATMUDN
ATMNUD
ATMNDU
ATMDNU
ATMDUN
ATDUMN
ATDUNM
ATDMUN
ATDMNU
ATDNMU
ATDNUM
ADNUTM
ADNUMT
ADNTUM
ADNTMU
ADNMTU
ADNMUT
ADUNTM
ADUNMT
ADUTNM
ADUTMN
ADUMTN
ADUMNT
ADTUNM
ADTUMN
ADTNUM
ADTNMU
ADTMNU
ADTMUN
ADMUTN
ADMUNT
ADMTUN
ADMTNU
ADMNTU
ADMNUT
NAMUTD
NAMUDT
NAMTUD
NAMTDU
NAMDTU
NAMDUT
NAUMTD
NAUMDT
NAUTMD
NAUTDM
NAUDTM
NAUDMT
NATUMD
NATUDM
NATMUD
NATMDU
NATDMU
NATDUM
NADUTM
NADUMT
NADTUM
NADTMU
NADMTU
NADMUT
NMAUTD
NMAUDT
NMATUD
NMATDU
NMADTU
NMADUT
NMUATD
NMUADT
NMUTAD
NMUTDA
NMUDTA
NMUDAT
NMTUAD
NMTUDA
NMTAUD
NMTADU
NMTDAU
NMTDUA
NMDUTA
NMDUAT
NMDTUA
NMDTAU
NMDATU
NMDAUT
NUMATD
NUMADT
NUMTAD
NUMTDA
NUMDTA
NUMDAT
NUAMTD
NUAMDT
NUATMD
NUATDM
NUADTM
NUADMT
NUTAMD
NUTADM
NUTMAD
NUTMDA
NUTDMA
NUTDAM
NUDATM
NUDAMT
NUDTAM
NUDTMA
NUDMTA
NUDMAT
NTMUAD
NTMUDA
NTMAUD
NTMADU
NTMDAU
NTMDUA
NTUMAD
NTUMDA
NTUAMD
NTUADM
NTUDAM
NTUDMA
NTAUMD
NTAUDM
NTAMUD
NTAMDU
NTADMU
NTADUM
NTDUAM
NTDUMA
NTDAUM
NTDAMU
NTDMAU
NTDMUA
NDMUTA
NDMUAT
NDMTUA
NDMTAU
NDMATU
NDMAUT
NDUMTA
NDUMAT
NDUTMA
NDUTAM
NDUATM
NDUAMT
NDTUMA
NDTUAM
NDTMUA
NDTMAU
NDTAMU
NDTAUM
NDAUTM
NDAUMT
NDATUM
NDATMU
NDAMTU
NDAMUT
UANMTD
UANMDT
UANTMD
UANTDM
UANDTM
UANDMT
UAMNTD
UAMNDT
UAMTND
UAMTDN
UAMDTN
UAMDNT
UATMND
UATMDN
UATNMD
UATNDM
UATDNM
UATDMN
UADMTN
UADMNT
UADTMN
UADTNM
UADNTM
UADNMT
UNAMTD
UNAMDT
UNATMD
UNATDM
UNADTM
UNADMT
UNMATD
UNMADT
UNMTAD
UNMTDA
UNMDTA
UNMDAT
UNTMAD
UNTMDA
UNTAMD
UNTADM
UNTDAM
UNTDMA
UNDMTA
UNDMAT
UNDTMA
UNDTAM
UNDATM
UNDAMT
UMNATD
UMNADT
UMNTAD
UMNTDA
UMNDTA
UMNDAT
UMANTD
UMANDT
UMATND
UMATDN
UMADTN
UMADNT
UMTAND
UMTADN
UMTNAD
UMTNDA
UMTDNA
UMTDAN
UMDATN
UMDANT
UMDTAN
UMDTNA
UMDNTA
UMDNAT
UTNMAD
UTNMDA
UTNAMD
UTNADM
UTNDAM
UTNDMA
UTMNAD
UTMNDA
UTMAND
UTMADN
UTMDAN
UTMDNA
UTAMND
UTAMDN
UTANMD
UTANDM
UTADNM
UTADMN
UTDMAN
UTDMNA
UTDAMN
UTDANM
UTDNAM
UTDNMA
UDNMTA
UDNMAT
UDNTMA
UDNTAM
UDNATM
UDNAMT
UDMNTA
UDMNAT
UDMTNA
UDMTAN
UDMATN
UDMANT
UDTMNA
UDTMAN
UDTNMA
UDTNAM
UDTANM
UDTAMN
UDAMTN
UDAMNT
UDATMN
UDATNM
UDANTM
UDANMT
TANUMD
TANUDM
TANMUD
TANMDU
TANDMU
TANDUM
TAUNMD
TAUNDM
TAUMND
TAUMDN
TAUDMN
TAUDNM
TAMUND
TAMUDN
TAMNUD
TAMNDU
TAMDNU
TAMDUN
TADUMN
TADUNM
TADMUN
TADMNU
TADNMU
TADNUM
TNAUMD
TNAUDM
TNAMUD
TNAMDU
TNADMU
TNADUM
TNUAMD
TNUADM
TNUMAD
TNUMDA
TNUDMA
TNUDAM
TNMUAD
TNMUDA
TNMAUD
TNMADU
TNMDAU
TNMDUA
TNDUMA
TNDUAM
TNDMUA
TNDMAU
TNDAMU
TNDAUM
TUNAMD
TUNADM
TUNMAD
TUNMDA
TUNDMA
TUNDAM
TUANMD
TUANDM
TUAMND
TUAMDN
TUADMN
TUADNM
TUMAND
TUMADN
TUMNAD
TUMNDA
TUMDNA
TUMDAN
TUDAMN
TUDANM
TUDMAN
TUDMNA
TUDNMA
TUDNAM
TMNUAD
TMNUDA
TMNAUD
TMNADU
TMNDAU
TMNDUA
TMUNAD
TMUNDA
TMUAND
TMUADN
TMUDAN
TMUDNA
TMAUND
TMAUDN
TMANUD
TMANDU
TMADNU
TMADUN
TMDUAN
TMDUNA
TMDAUN
TMDANU
TMDNAU
TMDNUA
TDNUMA
TDNUAM
TDNMUA
TDNMAU
TDNAMU
TDNAUM
TDUNMA
TDUNAM
TDUMNA
TDUMAN
TDUAMN
TDUANM
TDMUNA
TDMUAN
TDMNUA
TDMNAU
TDMANU
TDMAUN
TDAUMN
TDAUNM
TDAMUN
TDAMNU
TDANMU
TDANUM
DANUTM
DANUMT
DANTUM
DANTMU
DANMTU
DANMUT
DAUNTM
DAUNMT
DAUTNM
DAUTMN
DAUMTN
DAUMNT
DATUNM
DATUMN
DATNUM
DATNMU
DATMNU
DATMUN
DAMUTN
DAMUNT
DAMTUN
DAMTNU
DAMNTU
DAMNUT
DNAUTM
DNAUMT
DNATUM
DNATMU
DNAMTU
DNAMUT
DNUATM
DNUAMT
DNUTAM
DNUTMA
DNUMTA
DNUMAT
DNTUAM
DNTUMA
DNTAUM
DNTAMU
DNTMAU
DNTMUA
DNMUTA
DNMUAT
DNMTUA
DNMTAU
DNMATU
DNMAUT
DUNATM
DUNAMT
DUNTAM
DUNTMA
DUNMTA
DUNMAT
DUANTM
DUANMT
DUATNM
DUATMN
DUAMTN
DUAMNT
DUTANM
DUTAMN
DUTNAM
DUTNMA
DUTMNA
DUTMAN
DUMATN
DUMANT
DUMTAN
DUMTNA
DUMNTA
DUMNAT
DTNUAM
DTNUMA
DTNAUM
DTNAMU
DTNMAU
DTNMUA
DTUNAM
DTUNMA
DTUANM
DTUAMN
DTUMAN
DTUMNA
DTAUNM
DTAUMN
DTANUM
DTANMU
DTAMNU
DTAMUN
DTMUAN
DTMUNA
DTMAUN
DTMANU
DTMNAU
DTMNUA
DMNUTA
DMNUAT
DMNTUA
DMNTAU
DMNATU
DMNAUT
DMUNTA
DMUNAT
DMUTNA
DMUTAN
DMUATN
DMUANT
DMTUNA
DMTUAN
DMTNUA
DMTNAU
DMTANU
DMTAUN
DMAUTN
DMAUNT
DMATUN
DMATNU
DMANTU
DMANUT
None

35) Count the Number of Occurrence of a Character in String

In [61]:
my_string = "Programiz"
my_char = "r"

print(my_string.count(my_char))

2

36) Remove Duplicate Element From a List

In [62]:
list_1 = [1, 2, 1, 4, 6]

print(list(set(list_1)))

[1, 2, 4, 6]

In [63]:
#Remove the items that are duplicated in two lists

list__1 = [1, 2, 1, 4, 6]
list__2 = [7, 8, 2, 1]

print(list(set(list__1) ^ set(list__2)))

[4, 6, 7, 8]